<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" metadata-complete="false" version="3.1">
  <display-name>webday3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>webday3.StartupListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>lolStart</servlet-name>
    <jsp-file>/lolStart.jsp</jsp-file>
    <init-param>
      <param-name>시작골드</param-name>
      <param-value>475</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>lolStart</servlet-name>
    <url-pattern>/lolStart.jsp</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>appName</param-name>
    <param-value>Web Programming I - Day3</param-value>
  </context-param>
  <context-param>
    <param-name>appVersion</param-name>
    <param-value>1.0</param-value>
  </context-param>
</web-app>